@charset "UTF-8";
/* CSS Document */

.bucket {
        background-color: #fff;
}

h1 {
        color: #1B315D;
        margin-bottom: 1rem;
}

h2 {
        color: #2A3C63;
        margin-bottom: 1rem;
}

p {
        color: #2A3C63;
        margin-bottom: 1rem;
}
