@charset "UTF-8";
/* CSS Document */

header{
	background-color: #2A3C63;
}

#search input[type="text"] {
	color: #2A3C63;
	float: right;
	margin-top: 4.5rem;
	margin-right: 2rem;
	width: 20rem;
}

.logo{
	margin-left: 2rem;
}