---
layout: default
title: Home
meta: "Everything you need to keep you warm during the cold season"
showbanner: yes
bannertext: Winter Apparel
---
<h1>For Your Active Lifestyle</h1>
<p>If you are looking for winter coats, rain coats, windbreakers or warm boots and shoes, we can help outfit you. We want to provide our customers with quality winter gear and unparalleled service to help maximize your enjoyment while participating in your outdoor activities. </p>

<div class="grid">

 <div class="gutter unit unit-s-1 unit-m-1-3 unit l-1-3">
 {% include promo-small.html title="Arctic Cat" desc="Amazing deal!" image="wintercoat1.jpg" %}
 </div>
 
 <div class="gutter unit unit-s-1 unit-m-1-3 unit l-1-3">
 {% include promo-small.html title="Insta-Heat Winter" desc="Amazing deal!" image="wintercoat2.jpg" %}
 </div>
 
 <div class="gutter unit unit-s-1 unit-m-1-3 unit l-1-3">
  {% include promo-small.html title="Millenium Interchange" desc="Amazing deal!" image="wintercoat3.jpg" %}
 </div>
 
</div>
